# Ganti dengan URL Web App hasil deploy Google Apps Script kamu (lihat gas/README.md)
VITE_GAS_ENDPOINT=https://script.google.com/macros/s/AKfycbw7JKzT5DSYz_NPbLp8fPajraIHXWF2sUkLUnTu5pMiktpk5RJSCLm2iijkL9V7WUzATw/exec
